Implement a function where the result is the cube of a given number

In [1]:
def cube(x):
  return x*x*x

print(cube(3))

27

Lambda Functions - Anonymous Functions that can be used to define a single line of code.

In [2]:
lambda_cube = lambda x:x*x*x

lambda_cube(3)

27

**Implement a code that adds two numbers**

In [3]:
lambda_sum = lambda x,y:x+y

lambda_sum(2,3)

5

**Sort a list of dictionaries on the basis of a specific key**

In [6]:
employee_records = [{'name':'John', 'age':29, 'occupation':'engineer'},
                    {'name':'Vikash', 'age':25, 'occupation':'doctor'},
                    {'name':'Nikhil', 'age':25, 'occupation':'engineer'},
                    {'name':'Teja', 'age':23, 'occupation':'data scientist'},
                    {'name':'Priya', 'age':25, 'occupation':'engineer'},]

**Sort the data on the basis of the key value as age**

In [7]:
sorted(employee_records, key=lambda x:x['age'])

[{'name': 'Teja', 'age': 23, 'occupation': 'data scientist'},
 {'name': 'Vikash', 'age': 25, 'occupation': 'doctor'},
 {'name': 'Nikhil', 'age': 25, 'occupation': 'engineer'},
 {'name': 'Priya', 'age': 25, 'occupation': 'engineer'},
 {'name': 'John', 'age': 29, 'occupation': 'engineer'}]

**Sort the data on the basis of key value as age, name**

In [8]:
sorted(employee_records, key=lambda x:(x['age'], x['name']))

[{'name': 'Teja', 'age': 23, 'occupation': 'data scientist'},
 {'name': 'Nikhil', 'age': 25, 'occupation': 'engineer'},
 {'name': 'Priya', 'age': 25, 'occupation': 'engineer'},
 {'name': 'Vikash', 'age': 25, 'occupation': 'doctor'},
 {'name': 'John', 'age': 29, 'occupation': 'engineer'}]

**Implement a function which results the square of every number available in the list**

In [9]:
l1 = [2, 4, 5, 7, 9]
newl1 = []

for ele in l1:
  newl1.append(ele**2)
print(newl1)

[4, 16, 25, 49, 81]

Map Function - Scan the entire list and corresponding to every element available in the list, you are looking for some kind of output.

In [10]:
l2 = list(map(lambda l1:l1**2, l1))
print(l2)

[4, 16, 25, 49, 81]

In [11]:
map(lambda l1:l1**2, l1)

In [14]:
x1 = lambda l1:l1**2
x1(2)

4

In [ ]:
## l1 = [2, 5, 7, 9]
## l2 = [2, 7]

## common/intersection values of both l1 and l2
## output = [2, 7]

**Filter: Given a list, return the even elements available in the list.**

Subset of the given list by having some sort of constraints.

In [15]:
l3 = [2, 3, 5, 7, 9, 11, 12, 16]
l4 = list(filter(lambda x:x%2 == 0, l3))
print(l4)

[2, 12, 16]

In [17]:
filter(lambda x:x%2 == 0, l3)

Reduce: Given a list, return the sum of the entire list.

Single output - reduce function

In [16]:
from functools import reduce
sum_list = reduce(lambda x,y:x+y, l3)
print(sum_list)

65